In [1]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.read_excel('categoria_running.xlsx')
df1.drop('Unnamed: 0', axis=1, inplace=True)
df1

,Modelo,Marca,Talle,Color,Cantidad,Precio,Precio 8 Cuotas,Precio 6 Cuotas,Precio 3 Cuotas,Disponible en,Categoria
0,Nike Downshifter 11,Nike,41,Amarillo,15,16999,2124.88,2833.17,5666.33,Nike Store Plaza Oeste,Running
1,adidas 4d Fwd Pulse,adidas,38,Verde,15,34999,4374.88,5833.17,11666.33,Nike Store Avellaneda,Running
2,Nike Quest 4,Nike,36,Negro,4,21599,2699.88,3599.83,7199.67,Nike Store Abasto,Running
3,Nike Juniper Trail,Nike,41,Verde,28,23099,2887.38,3849.83,7699.67,Nike Store Avellaneda,Running
4,adidas Run 70S,adidas,36,Violeta,14,17899,2237.38,2983.17,5966.33,Nike Store Abasto,Running
...,...,...,...,...,...,...,...,...,...,...,...
704,adidas Lite Racer 2.0,adidas,35,Azul,26,15799,1974.88,2633.17,5266.33,Nike Store Tortugas,Running
705,Salomon Hypulse,Salomon,36,Violeta,1,29399,3674.88,4899.83,9799.67,Nike Store Plaza Oeste,Running
706,Nike Pegasus Trail 3,Nike,38,Verde,29,32499,4062.38,5416.50,10833.00,Nike Store Pilar,Running
707,Nike Air Max Infinity 2,Nike,41,Azul,20,24999,3124.88,4166.50,8333.00,Nike Store Alto Palermo,Running
708,Reebok Lite Plus 3.0,Reebok,35,Rojo,22,11999,1499.88,1999.83,3999.67,Nike Store Plaza Oeste,Running

In [6]:
df2 = pd.read_excel('categoria_moda.xlsx')
df2.drop('Unnamed: 0', axis=1, inplace=True)
df2

,Modelo,Marca,Talle,Color,Cantidad,Precio,Precio 8 Cuotas,Precio 6 Cuotas,Precio 3 Cuotas,Disponible en,Categoria
0,Topper Nikita Cs,Topper,41,Verde,12,10899,1362.38,1816.50,3633.00,Nike Store Pilar,Moda
1,Puma Karmen L,Puma,41,Amarillo,20,17899,2237.38,2983.17,5966.33,Nike Store Alto Palermo,Moda
2,Puma Rose Plus,Puma,37,Azul,1,14199,1774.88,2366.50,4733.00,Nike Store Alcorta,Moda
3,Puma R78 Voyage Premium,Puma,37,Violeta,27,16799,2099.88,2799.83,5599.67,Nike Store Plaza Oeste,Moda
4,Lotto Runner Sue Basic,Lotto,41,Negro,18,7999,999.88,1333.17,2666.33,Nike Store Avenida Santa Fe,Moda
...,...,...,...,...,...,...,...,...,...,...,...
345,Nike Court Legacy Canvas,Nike,36,Azul,27,18699,2337.38,3116.50,6233.00,Nike Store Solar,Moda
346,Fila Float Jogger,Fila,38,Amarillo,6,17399,2174.88,2899.83,5799.67,Nike Store Avenida Santa Fe,Moda
347,Converse Chuck Taylor All Star Linen Ox,Converse,35,Violeta,15,16799,2099.88,2799.83,5599.67,Nike Store Pilar,Moda
348,Lotto Trainer,Lotto,40,Verde,20,4999,624.88,833.17,1666.33,Nike Store Abasto,Moda
349,Nike Air Max Excee,Nike,35,Amarillo,29,18999,2374.88,3166.50,6333.00,Nike Store Tortugas,Moda

In [7]:
df3 = pd.read_excel('categoria_training.xlsx')
df3.drop('Unnamed: 0', axis=1, inplace=True)
df3

,Modelo,Marca,Talle,Color,Cantidad,Precio,Precio 8 Cuotas,Precio 6 Cuotas,Precio 3 Cuotas,Disponible en,Categoria
0,Topper Strong Pace III,Topper,36,Azul,22,11799,1474.88,1966.50,3933.00,Nike Store Alto Palermo,Training
1,Topper Strong Pace III,Topper,39,Amarillo,28,11799,1474.88,1966.50,3933.00,Nike Store Alcorta,Training
2,Fila Trend 2.0,Fila,38,Rosa,5,13699,1712.38,2283.17,4566.33,Nike Store DOT,Training
3,Topper Ultralight II Mesh,Topper,42,Rosa,2,10299,1287.38,1716.50,3433.00,Nike Store Unicenter,Training
4,Topper Squat,Topper,40,Verde,14,14399,1799.88,2399.83,4799.67,Nike Store Pilar,Training
...,...,...,...,...,...,...,...,...,...,...,...
102,Nike Air Max Bella Tr 3,Nike,39,Verde,21,20599,2574.88,3433.17,6866.33,Nike Store Alcorta,Training
103,Nike Air Zoom SuperRep 2,Nike,39,Azul,21,31699,3962.38,5283.17,10566.33,Nike Store Alto Palermo,Training
104,Puma Lvl-Up Xt Wn S,Puma,37,Amarillo,1,19999,2499.88,3333.17,6666.33,Nike Store Avenida Santa Fe,Training
105,Nike Free Metcon 4,Nike,35,Azul,14,36699,4587.38,6116.50,12233.00,Nike Store Alcorta,Training
106,Topper Vr Speed,Topper,36,Negro,8,8999,1124.88,1499.83,2999.67,Nike Store Alcorta,Training

In [9]:
frames = [df1,df2,df3]
df = pd.concat(frames)
df

,Modelo,Marca,Talle,Color,Cantidad,Precio,Precio 8 Cuotas,Precio 6 Cuotas,Precio 3 Cuotas,Disponible en,Categoria
0,Nike Downshifter 11,Nike,41,Amarillo,15,16999,2124.88,2833.17,5666.33,Nike Store Plaza Oeste,Running
1,adidas 4d Fwd Pulse,adidas,38,Verde,15,34999,4374.88,5833.17,11666.33,Nike Store Avellaneda,Running
2,Nike Quest 4,Nike,36,Negro,4,21599,2699.88,3599.83,7199.67,Nike Store Abasto,Running
3,Nike Juniper Trail,Nike,41,Verde,28,23099,2887.38,3849.83,7699.67,Nike Store Avellaneda,Running
4,adidas Run 70S,adidas,36,Violeta,14,17899,2237.38,2983.17,5966.33,Nike Store Abasto,Running
...,...,...,...,...,...,...,...,...,...,...,...
102,Nike Air Max Bella Tr 3,Nike,39,Verde,21,20599,2574.88,3433.17,6866.33,Nike Store Alcorta,Training
103,Nike Air Zoom SuperRep 2,Nike,39,Azul,21,31699,3962.38,5283.17,10566.33,Nike Store Alto Palermo,Training
104,Puma Lvl-Up Xt Wn S,Puma,37,Amarillo,1,19999,2499.88,3333.17,6666.33,Nike Store Avenida Santa Fe,Training
105,Nike Free Metcon 4,Nike,35,Azul,14,36699,4587.38,6116.50,12233.00,Nike Store Alcorta,Training
106,Topper Vr Speed,Topper,36,Negro,8,8999,1124.88,1499.83,2999.67,Nike Store Alcorta,Training

In [10]:
df.to_excel('zapatillas.xlsx')